@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-style: normal;
  font-weight: 400;
}
:root {
  --normal-weight: 400;
  /* Modular scale: https://www.modularscale.com/?18&px&1.2 */
  --space-5xl: 5em;
  --space-4xl: 3em;
  --space-3xl: 2em;
  --space-2xl: 1.5em;
  --space-xl: 1.25em;
  --space-l: 1.125em;
  --space: 1em;
  --space-s: 0.7em;
  --space-xs: 0.5em;
  --space-2xs: 0.3em;
  --space-3xs: 0.2em;
  --space-4xs: 0.1em;
  --layout-space-3xl: calc(6rem + 10vw);
  --layout-space-2xl: calc(6rem + 6vw);
  --layout-space-xl: calc(6rem + 4vw);
  --layout-space-l: calc(6rem + 3vw);
  --layout-space-m: calc(6rem + 1vw);
  --layout-space: calc(3rem + 2vw);
}

/* Mixins main
   ------------------------------------------------------------ */
/* Event wrapper 
   ------------------------------ */
/* Visually hidden
   ------------------------------ */
/* Animation
   ------------------------------ */
/* Full bleed
   ------------------------------ */
html {
  text-rendering: optimizeSpeed;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: var(--color-text);
}

body {
  line-height: var(--line-height);
}

body,
button,
input,
select,
textarea {
  font-size: var(--font-size);
}

body,
a {
  color: var(--color-text);
}

main a {
  text-shadow: var(--positive) 0 0 var(--color-bg), var(--negative) 0 0 var(--color-bg), 0 var(--positive) 0 var(--color-bg), 0 var(--negative) 0 var(--color-bg), var(--positive) 0 0 var(--color-bg), var(--negative) 0 0 var(--color-bg), 0 var(--positive) 0 var(--color-bg), 0 var(--negative) 0 var(--color-bg);
  background-image: linear-gradient(var(--color-text), var(--color-text));
  background-repeat: repeat-x;
  background-position: bottom 5% center;
  background-size: 100% 0.07rem;
  text-decoration: none;
}

main a:hover,
main a:active,
main a:focus {
  background-image: none;
}

strong,
b {
  font-weight: var(--bold-weight);
}

em,
i {
  font-style: italic;
}

/* Header */
/* -------------------------------------------------------------
   Variables for responsive nav component
   ------------------------------------------------------------- */
/* -------------------------------------------------------------
   Responsive nav styles
   ------------------------------------------------------------- */
[role=navigation] {
  max-width: var(--max-width);
  margin: var(--space-xs) auto 2em auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 50em) {
  [role=navigation] {
    justify-content: space-between;
  }
}
[role=navigation] .logo {
  height: 3em;
  width: 3em;
  display: block;
  margin-right: 1rem;
}
[role=navigation] .logo .logoSvg {
  width: 3em;
}
[role=navigation] .nav-toggle {
  -webkit-tap-highlight-color: black;
  -webkit-touch-callout: none;
  user-select: none;
  border: none;
  color: black;
  background-color: transparent;
  text-decoration: none;
  position: relative;
  padding: 0;
}
[role=navigation] .nav-toggle:hover, [role=navigation] .nav-toggle:active, [role=navigation] .nav-toggle:focus {
  color: black;
  background-color: transparent;
}
[role=navigation] .nav-toggle svg {
  width: 1.75em;
  margin-left: 0.5em;
}
[role=navigation] .nav-wrapper,
[role=navigation] .nav-wrapper * {
  box-sizing: border-box;
}
[role=navigation] .nav-wrapper,
[role=navigation] .nav-wrapper ul,
[role=navigation] .nav-wrapper li {
  width: auto;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper,
[role=navigation] .nav-wrapper ul,
[role=navigation] .nav-wrapper li {
    width: 100%;
  }
}
[role=navigation] .nav-wrapper {
  user-select: none;
}
[role=navigation] .nav-wrapper.opened {
  max-height: 9999px;
}
[role=navigation] .nav-wrapper .nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1em;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav {
    flex-direction: column;
  }
}
[role=navigation] .nav-wrapper .nav li {
  width: 100%;
  display: block;
}
[role=navigation] .nav-wrapper .nav li ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
}
[role=navigation] .nav-wrapper .nav li a {
  text-decoration: none;
  font-size: var(--font-size);
  text-decoration: none;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li a {
    text-align: left;
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
  }
}

/* Large screen/min-width styles 
   ---------------------------------------- */
@media only screen and (min-width: 50em) {
  [role=navigation] {
    align-items: center;
  }
  [role=navigation] .nav-toggle {
    display: none;
  }
  [role=navigation] .nav-wrapper {
    position: relative;
  }
  [role=navigation] .nav-wrapper .nav {
    margin-top: unset;
    align-items: center;
  }
  [role=navigation] .nav-wrapper .nav a {
    font-size: var(--font-size-xs);
  }
  [role=navigation] .nav-wrapper .nav li {
    width: auto;
    display: flex;
    flex: 0 0 content;
  }
  .nav-wrapper .dropdown {
    position: relative;
  }
  .nav-wrapper .dropdown li {
    width: 100%;
  }
  .nav-wrapper .dropdown ul a {
    text-align: center;
    border: 0;
  }

  .nav-wrapper li {
    border: 0;
    display: inline-block;
    height: 3rem;
    line-height: 2.5;
    position: relative;
  }
  .nav-wrapper li a {
    display: inline-block;
    padding: 0 1.5rem;
  }
  .nav-wrapper ul ul {
    margin: 0;
    position: absolute;
    top: 0;
    left: -999em;
    z-index: 99999;
    text-align: center;
  }
  .nav-wrapper ul ul a {
    padding: 1rem 0.75rem;
    white-space: normal;
    min-width: 12rem;
  }
  .nav-wrapper ul ul ul {
    left: -999em;
    top: 0;
  }
  .nav-wrapper li li {
    border: 0;
    display: block;
    height: auto;
    line-height: 1.0909090909;
  }

  .nav-wrapper ul li:hover > ul,
.nav-wrapper ul li.focus > ul {
    top: 3rem;
    left: 0;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 50em) and (min-width: 50em) {
  .nav-wrapper ul li:hover > ul,
.nav-wrapper ul li.focus > ul {
    width: auto;
  }
}
@media only screen and (min-width: 50em) {
  .nav-wrapper ul ul li:hover > ul,
.nav-wrapper ul ul li.focus > ul {
    top: 0;
    left: 0;
    transform: translateX(100%);
  }
}
/* .js-enabled styles
   ---------------------------------------- */
.js .nav-wrapper {
  position: relative;
}
.js .nav-wrapper.closed {
  max-height: none;
  margin-bottom: -1em;
}
.js .nav-wrapper .nav-wrapper,
.js .nav-wrapper .nav-wrapper .dropdown ul {
  max-height: none;
  overflow: visible;
}
@media screen and (max-width: 50em) {
  .js .nav-wrapper {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    visibility: hidden;
  }
  .js .nav-wrapper.opened {
    visibility: visible;
    overflow: visible;
  }
  .js .nav-wrapper li {
    position: relative;
  }
  .js .nav-wrapper.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important;
  }
  .js .nav-wrapper.multiple-level-nav .sub-menu.toggled {
    display: block;
    max-height: 9999px;
    position: relative;
  }
}

/* Dropdown levels
   ---------------------------------------- */
.dropdown-toggle {
  display: none;
}

@media screen and (max-width: 50em) {
  .js .nav-wrapper.multiple-level-nav .sub-menu {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: none;
    overflow: hidden;
  }
  .js .nav-wrapper .dropdown-toggle {
    display: block;
    border: none;
    color: white;
    background-color: transparent;
    content: "";
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: lowercase;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  .js .nav-wrapper .dropdown-toggle:hover, .js .nav-wrapper .dropdown-toggle:active, .js .nav-wrapper .dropdown-toggle:focus {
    color: white;
    background-color: transparent;
  }
  .js .nav-wrapper .dropdown-toggle:after {
    content: "+";
    font-size: 2rem;
    display: block;
    transform: translateX(46%);
  }
  .js .nav-wrapper .dropdown-toggle.toggled:after {
    transform: translateX(46%) rotate(45deg);
  }
}
/* Dropdown list items
   ---------------------------------------- */
[role=navigation] .nav-wrapper .nav li a {
  color: black;
  background: transparent;
  cursor: pointer;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li a {
    color: white;
    background: black;
  }
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li.dropdown .has-dropdown {
    color: white;
    background: black;
  }
  [role=navigation] .nav-wrapper .nav li.dropdown .has-dropdown:hover, [role=navigation] .nav-wrapper .nav li.dropdown .has-dropdown:active, [role=navigation] .nav-wrapper .nav li.dropdown .has-dropdown:focus {
    color: lightblue;
    background-color: #252525;
  }
}
[role=navigation] .nav-wrapper .nav li.dropdown ul a {
  color: black;
  background: #f0f0f0;
}
[role=navigation] .nav-wrapper .nav li.dropdown ul a:hover, [role=navigation] .nav-wrapper .nav li.dropdown ul a:active, [role=navigation] .nav-wrapper .nav li.dropdown ul a:focus {
  color: lightblue;
  background-color: #252525;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li.dropdown ul a {
    padding-left: 1.5em;
    color: white;
    background: black;
  }
}
[role=navigation] .nav-wrapper .nav li.dropdown ul.sub-menu .dropdown:hover .has-dropdown, [role=navigation] .nav-wrapper .nav li.dropdown ul.sub-menu .dropdown:active .has-dropdown, [role=navigation] .nav-wrapper .nav li.dropdown ul.sub-menu .dropdown:focus .has-dropdown {
  color: lightblue;
  background-color: #252525;
}
[role=navigation] .nav-wrapper .nav li.dropdown ul.sub-menu .dropdown .has-dropdown {
  color: black;
  background: #f0f0f0;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li.dropdown ul.sub-menu .dropdown .has-dropdown {
    color: white;
    background: black;
  }
}
[role=navigation] .nav-wrapper .nav li.dropdown ul ul a {
  color: black;
  background: #ddd;
}
[role=navigation] .nav-wrapper .nav li.dropdown ul ul a:hover, [role=navigation] .nav-wrapper .nav li.dropdown ul ul a:active, [role=navigation] .nav-wrapper .nav li.dropdown ul ul a:focus {
  color: lightblue;
  background-color: #252525;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li.dropdown ul ul a {
    padding-left: 2.5em;
    color: white;
    background: black;
  }
}

[role=navigation] .nav-wrapper .nav li a:hover {
  color: lightblue;
  background-color: #252525;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav li a:hover {
    color: lightblue;
    background-color: #252525;
  }
}

[role=navigation] .nav-wrapper .nav .dropdown:hover .has-dropdown {
  color: lightblue;
  background-color: #252525;
}
@media screen and (max-width: 50em) {
  [role=navigation] .nav-wrapper .nav .dropdown:hover .has-dropdown {
    color: lightblue;
    background-color: #252525;
  }
}

.nav-wrapper.opened,
.nav-toggle.active #nav-toggle-text {
  animation-duration: 1200ms;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navIcon {
  position: relative;
  width: 38px;
  cursor: pointer;
}

.navIcon:before,
.navIcon:after {
  background-color: #000;
  content: "";
  display: block;
  height: 4px;
  transition: all 0.1s;
  border-radius: 4px;
}

.navIcon:before {
  box-shadow: 0 10px 0 #000;
  margin-bottom: 16px;
}

.navIcon.active:before {
  box-shadow: 0 0 0 #000;
  transform: translateY(10px) rotate(45deg);
}

.navIcon.active:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navLabel {
  width: 8em;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-8em, -50%);
  padding-right: 0.5em;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: no-wrap;
}

/* Skip links */
/* [href="#content"], */
.skip-link {
  position: absolute;
  top: 0;
  right: 100%;
  position: 10;
}

[href="#content"]:focus,
.skip-link:focus {
  top: 1em;
  left: 1em;
  right: auto;
  z-index: 10;
  background: var(--color-highlight);
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--sans);
  font-weight: var(--bold-weight);
  padding: var(--space);
}

/* Screen reader text */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0);
  border: 0;
  overflow: hidden;
  box-sizing: content-box;
  font-family: var(--sans-serif);
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  clip: auto;
  height: auto;
  width: auto;
  display: block;
  left: 10px;
  top: 10px;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--sans-serif);
  background: var(--color-bg);
  z-index: 99999;
  text-decoration: none;
  border: 1px solid var(--color-text);
  padding: var(--space-s) var(--space);
}

/* Transition */
a {
  transition: color ease-in-out 0.3s;
}

/* Focus */
a:focus,
main a:focus {
  background-image: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* Utilities */
.wrapper {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

.flow > * + * {
  margin-top: var(--space);
}

/* Standard Content */
/* article ol,
article ul {
  padding-left: var(--space-3xl);
}
article li + li {
  margin-top: var(--space-xs);
} */
/* Lobotomised Owls */
/* Video */
/* Footer */
/* Optional components – uncomment to activate
   ------------------------------------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
