<footer>
    <a href="https://scruples.studio" rel="noopener nofollow">Made with Scruples</a>
</footer>
{{ scripts:footer_scripts }}
    <!-- {{ description }} -->
        {{ code }}
    <!-- End {{ description }} -->
{{ /scripts:footer_scripts }}
{{# Add sanitized template path and page slug as classes to body #}}
<script>
    var body = document.body;
    var className = '{{ current_template }}';
    body.classList.remove('no-script');
    className = className.replace(/[/._]/g, '-')
    var slug = '{{ slug }}';
    if (slug) {
        var pageSlug = ('page-' + slug);
    } else {
        var pageSlug = ('no-slug');
    };
    body.classList.add(className, pageSlug);    
</script>
<script src="/js/site.js"></script>
{{ if app:env == "prod" }}
    <!-- analytics script -->    
{{ endif }}
{{ aardvark-seo:footer }}
</body>
</html>
