<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ aardvark-seo:head }}
        <link rel="stylesheet" href="/css/main.css">
        <noscript><link rel="stylesheet" href="/css/main.css"></noscript>
        {{ scripts:head_scripts }}
            <!-- {{ description }} -->
                {{ code }}
            <!-- End {{ description }} -->
        {{ /scripts:head_scripts }}
    </head>