<!doctype html>
<html lang="{{ site:short_locale }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>
        {{ aardvark-seo:head }}
        {{ get_files in="public/css/" ext="css" }}
            <link rel="stylesheet" href="/css/{{ filename }}.css?v={{ last_modified format="YmdHis" }}">
            <noscript><link rel="stylesheet" href="/css/{{ filename }}.css?v={{ last_modified format="YmdHis" }}"></noscript>
        {{ /get_files }}
        {{ scripts:head_scripts }}
            <!-- {{ description }} -->
                {{ code }}
            <!-- End {{ description }} -->
        {{ /scripts:head_scripts }}

        {{# Icons #}}
        {{# 
            Cheat sheet: https://github.com/audreyfeldroy/favicon-cheat-sheet
            Favicon & icons to-do list: 
                1. Generate all sizes at https://favicomatic.com
                2. Create custom wide version for msapplication-wide310x150logo
                3. Optimise generated pngs
                4. Move pngs to public/img/icons
                5. Move favicon.ico to public
                6. Add site background colour as TileColor & meta theme-color below
        #}}
        
        {{#
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/img/icons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/img/icons/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Raze – Optimization & Measurement Marketing for eCommerce" />
        <meta name="msapplication-TileColor" content=" {{# BG COLOUR HERE #}} " />
        <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="/img/icons/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="/img/icons/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="/img/icons/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="/img/icons/mstile-310x310.png" />

        <meta name="theme-color" content=" {{# BG COLOUR HERE #}} ">
        #}}
        <meta name="twitter:dnt" content="on">
        <!-- <link rel="preload" href="font.woff2" as="font" type="font/woff2"> -->
    </head>