<!doctype html>
<html lang="{{ site:short_locale }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>
        {{ aardvark-seo:head }}
        <link rel="stylesheet" href="/css/main.css">
        <noscript><link rel="stylesheet" href="/css/main.css"></noscript>
        {{ scripts:head_scripts }}
            <!-- {{ description }} -->
                {{ code }}
            <!-- End {{ description }} -->
        {{ /scripts:head_scripts }}

        {{# Icons #}}
        {{# Cheat sheet: https://github.com/audreyfeldroy/favicon-cheat-sheet #}}
        {{# Generator: https://favicomatic.com #}}
        
        <meta name="theme-color" content="#000">
        <meta name="twitter:dnt" content="on">
        <!-- <link rel="preload" href="font.woff2" as="font" type="font/woff2"> -->
    </head>